@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.max-width {
  @apply lg:mx-auto lg:px-24 xl:px-48 px-5;
}

.bg-gradient {
  @apply bg-gradient-to-r from-sky-500 via-purple-500 to-pink-600;
}

.text-gradient {
  @apply bg-clip-text bg-gradient text-transparent;
}

.section {
  @apply pt-28 xl:pt-28 2xl:pt-44;
}

.text-content {
  @apply text-white;
}

body {
  @apply bg-dark-mode text-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-white;
}

.tech-stack {
  @apply text-white;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  background-color: #050312 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  z-index: 10;
  padding: 0 !important; /* ביטול padding */
  height: 65px !important; /* קביעת גובה קבוע */
  line-height: 25px; /* מיקום התוכן לגובה הסרגל */
}

nav ul li a {
  color: white !important;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #172631 !important;
}

@media (max-width: 768px) {
  nav ul {
    @apply flex-col justify-center space-y-4;
    background-color: #050312 !important;
  }
}

nav ul li a {
  @apply text-white hover:bg-gray-700 p-2 rounded;
}

section {
  @apply py-10;
}

#home {
  padding-top: 90px;
}

.divider {
  border: none;
  height: 2px;
  background: linear-gradient(to right, #007bff, #6f42c1, #e83e8c);
  margin: 40px 0;
  opacity: 0.7;
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.section.show {
  opacity: 1;
  transform: translateY(0);
}

.project-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.project-buttons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 8px;
  background-color: #2d2d2d;
  color: white;
  text-decoration: none;
  min-width: 150px;
  transition: background-color 0.3s ease;
}

.project-buttons a:hover {
  background-color: #444444;
}

@media (max-width: 768px) {
  .project-buttons {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .project-buttons a {
    width: 100%;
    text-align: center;
    padding: 12px;
    font-size: 16px;
    min-width: unset;
  }
}

footer {
  background-color: #1a1a1a;
  padding: 20px 0;
  color: white;
  width: 100%;
  text-align: center;
}

.footer a {
  color: #1e90ff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
